* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* font-size: 10px */
  line-height: 1.6rem;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  overflow: overlay;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  transition: all .3s ease .1s;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

input {
  outline: none;
}

button {
  outline: none;
}

button:active {
  outline: none;
}